<section class="row mt-5" id="about">
  <article class="col-lg-4 mb-4">
    <div>
      <h2 class="text-bold text-lg-end text-center">Darío Vega</h2>
      <h5 class="mb-3 text-lg-end text-center">
        Fullstack <i>web</i> Developer
      </h5>
    </div>
    <p class="lead text-secondary text-lg-end text-start">
      Desde 2018 tengo experiencia en el área del desarrollo <i>web</i>.
    </p>
    <p class="lead text-secondary text-lg-end text-start">
      También colaboro en proyectos como <i>Freelance FullStack</i>. Estoy más
      orientado al <i>Frontend</i>, pero también hago <i>Backend</i>.
    </p>
    <p class="lead text-secondary text-lg-end text-start">
      Disfruto llevar a cabo la maquetación e interactividad de interfaces
      <i>web</i>, así como la optimización, para el buen posicionamiento y el
      rendimiento de carga de sitios y aplicaciones <i>web</i>.
    </p>
    <p class="lead text-secondary text-lg-end text-start">
      También cuento con experiencia en el área de <i>Social Media</i>,
      <i>Marketing</i> de Contenidos y <i>SEO</i>.
    </p>
    <div class="text-lg-end text-start">
      <a class="btn btn-primary" href="#" target="_blank" rel="noopener"
        >DOWNLOAD MY RESUME</a
      >
    </div>
  </article>

  <article class="col-lg-4 mb-4">
    <div class="pt-2">
      <img
        class="img-fluid"
        src="../../assets/foto-perfil.jpg"
        alt="Darío Vega"
      />
    </div>
  </article>

  <article class="col-lg-4 mb-4">
    <div>
      <h2 class="text-start text-bold mb-4">Skills</h2>
      <div>
        <p>
          <b class="text-bold"><i>Frontend Web</i> Development</b>
        </p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            style="width: 90%"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            90%
          </div>
        </div>
      </div>
      <div>
        <p>
          <b class="text-bold"><i>Web</i> Development</b>
        </p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            style="width: 85%"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            85%
          </div>
        </div>
      </div>
      <div>
        <p>
          <b><i>WPO</i> y <i>SEO</i></b>
        </p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            style="width: 80%"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            80%
          </div>
        </div>
      </div>
      <div>
        <p>
          <b><i>Backend Web</i> Development</b>
        </p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            style="width: 75%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            75%
          </div>
        </div>
      </div>
      <div>
        <p>
          <b><i>Social Media</i> and <i>Content Marketing</i></b>
        </p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Example with label"
            style="width: 60%"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            60%
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
